In [18]:
import pandas as pd

In [19]:
from  sklearn.model_selection import train_test_split

In [20]:
path = '../data/StudentPerformance.csv'

In [21]:
df= pd.read_csv(path)

In [22]:
df.head()

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,Yes,9,1,91.0
1,4,82,No,4,2,65.0
2,8,51,Yes,7,2,45.0
3,5,52,Yes,5,2,36.0
4,7,75,No,8,5,66.0

In [23]:
df.shape

(10000, 6)

In [24]:
X=df.drop(columns=['Performance Index'])

In [25]:
X.head()

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced
0,7,99,Yes,9,1
1,4,82,No,4,2
2,8,51,Yes,7,2
3,5,52,Yes,5,2
4,7,75,No,8,5

In [26]:
y=df['Performance Index']

In [27]:
y.head()

0    91.0
1    65.0
2    45.0
3    36.0
4    66.0
Name: Performance Index, dtype: float64

In [28]:
x_train, x_test, y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=10)

In [29]:
x_train.shape

(8000, 5)

In [30]:
y_train.shape

(8000,)